<%= form_for what, url:{ controller: 'teacher', action: to_do}, method: to_met do |f| %>

  <p><%= f.label :firstname %> <br/>
    <%= f.text_field :firstname %>
  </p>
  <p><%= f.label :lastname %> <br/>
    <%= f.text_field :lastname %>
  </p>
  <p><%= f.label :bio %> <br/>
    <%= f.text_area :bio%>
  </p>
  <p><%= f.label :photo_url %> <br/>
    <%= f.text_field :photo_url%>
  </p>
  <p><%= f.label :curriculum %> <br/>
    <%= f.text_area :curriculum%>
  </p>

  <br><%= f.submit %>
  <% end %>
