

<%= form_for what, url:{ controller: 'lectures', action: to_do}, method: to_met do |f| %>
	<p>
		<%= f.label :week_day %> 
		<%= f.select :w_day,@weekday.map { |d| [d ,d]   }  %> <br/>
	</p>
	<p>
		<%= f.label :start_time %>
		<%= f.select :start_time,@lecture_times.map{|t| ["#{t}:00",t] }  %><br/>
	</p>
	<p>
		<%= f.label :end_time %> 
		<%= f.select :end_time,@lecture_times.map{|t| ["#{t}:00",t] }  %><br/>
	</p>
	<p>
		<%= f.label :classroom, "Classroom for this course is #{@classroom.name}" %> <br/>
	</p>




<%= f.submit %>
<% end %>

