<h1>New lecture for <%= @course.name %></h1>


<%= render partial:'shared/error_partial', locals:{what: @lecture, name:'lecture'} %>
<%= render partial: 'lecture_form', locals: { to_do: 'create', to_met: 'post',what: @lecture} %>



<%= render 'shared/hide_structural_link' %>
<%= render 'shared/hide_semantic_link' %>