<%= render partial:'shared/error_partial', locals:{what: @mission, name:'mission'} %>


<%= form_for @mission do |f| %>
	<p>
		<%= f.label :description %> <br>
		<%= f.text_area :description %>

	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>