<table class="styled-table" >
	<thead>
		<th>Course Name	</th>
		<th>Professor</th>
		
		<th>Description</th>
	</tr>
	</thead>
	<tbody>
		<% @courses.each do |c| %>
			<tr>
		
			<td><%= link_to c.name, "#{:go_to}#{c.id}" %></td>
			<td><%= link_to "#{c.teacher.firstname} #{c.teacher.lastname}", teacher_path(c.teacher.id) %></td>
			<td><%= link_to "#{c.description.split[0...Course.max_word].join(' ')} ...",course_syllabus_path(c.id)  %></td>


			</tr>
		<% end %>
	</tbody>

</table>

<%= page_entries_info @courses %>
<%= will_paginate @courses %>