
<%= stylesheet_link_tag 'stylesheets/tables' %>
<h1>Courses by year</h1>


<%= render "shared/hide_semantic_link" %>
<%= render "shared/hide_structural_link" %>

<table class="styled-table" >
	<thead>
		<th>Course Name	</th>
		<th>Professor</th>
		<th>Curricula</th>
		<th>Year</th>
	</tr>
	</thead>
	<tbody>

	<tr>
	
	<% @courses.each do |course| %>
		<tr>
			<td class="name"><%= link_to course[:name], course_path(course[:id]) %>	</td>
			<td class="teacher"><%= link_to course[:teacher], teacher_path(course[:teacher_id]) %></td>
			<td class ="curricula">
			<% 3.times do %>
				<% course[:curricula].each do |curriculum| %>
					<%= link_to curriculum[:name], curriculum_id_path(curriculum[:id]) %>
					<br> <%# usato per mettere ogni elemento su una buona linea %>
					
				<% end %>
			<% end %>
			</td>
			<td class="year"><%= course[:year].year %></td>

		</tr>
	<% end %>


</tbody>


</table>
<br>
<%= will_paginate @courses_by_year %>