 
<%= title "Courses for curriculum #{@curriculum.name}" %>

<table class="styled-table" >
	<thead>
		<th>Course Name	</th>
		<th>Professor</th>
		
		<th>Description</th>
	</tr>
	</thead>
	<tbody>
		<% @courses.each do |course| %>
			<tr>
		
			<td><%= link_to course.name, courses_type_guided_tour_id_path(@curriculum, course) %></td>
			<td><%= "#{course.teacher.firstname} #{course.teacher.lastname}"%></td>
			<td><%= "#{course.description.split[0...Course.max_word].join(' ')} ..."%></td>


			</tr>
		<% end %>
	</tbody>

</table>




<%= render 'shared/hide_structural_link' %>
<%= render 'shared/hide_semantic_link' %>