
<%= title "Courses in the year #{@year}" %>

<%= render "shared/hide_semantic_link" %>
<%= render "shared/hide_structural_link" %>

<table class="styled-table" >
	<thead>
		<th>Course Name	</th>
		<th>Description</th>
		<th>Professor</th>
		<th>Curricula</th>
		
	</tr>
	</thead>
	<tbody>

	<tr>
	
	<% @courses.each do |course| %>
		<tr>
			<td class="name"><%= link_to course[:name], courses_year_guided_tour_id_path(@year,course[:id]) %>	</td>
			<td class="description"><%= "#{course[:description].split[0...Course.max_word].join(' ')} ..." %></td>
			</td>
			<td class="teacher"><%= course[:teacher] %></td>
			<td class ="curricula">
			
			<% course[:curricula].each do |curriculum| %>
				<%= curriculum[:name] %>
				<br> <%# usato per mettere ogni elemento su una buona linea %>
				
			<% end %>
			
			
			

		</tr>
	<% end %>


</tbody>


</table>
<br>



<%= will_paginate @courses_by_year %>