<h1><%= @name %></h1>
<ul>
<% @curricula.each do |element| %>
	  <li><a href="<%= element[:value] %>"><%= element[:name] %></a></li>
<% end %>
</ul>

<%= render "shared/hide_structural_link" %>
<%= render "shared/hide_semantic_link" %>