<%= title "Listing Courses" %>

<%= link_to "New Course", new_course_path, {class: "new_button"} %>

<br><br>

<table class="styled-table" >
	<thead>
		<tr>
			<th>Name </th>
			<th>Description</th>
			<th>Professor</th>
			<th>Curricula</th>
			<th>Year</th>

			
			<th colspan=4></th>


		</tr>

	</thead>
	<tbody>

			<% @courses.each do |course| %>
				<tr>
					<td><%= course.name %></td>
					<td><%= course.description.split[0...10].join(' ') %></td>
					<td><%= link_to "#{course.teacher.firstname} #{course.teacher.lastname}", teacher_path(course.teacher) %></td>
					<td> <% course.curriculum.each do |curriculum|  %>
						 <%= link_to curriculum.name, curriculum_path(curriculum) %>
						 <% end %>
					</td>
					<td><%= course.accademic_year.year %></td>
					<td>
						<%= link_to "Lectures",course_lectures_index_path(course)  %>
						<%= link_to "News",course_news_index_path(course) %>
						<%= link_to "Materials",course_material_index_path(course) %>

					</td>
					<td><%= link_to 'Show', course_path(course) %></td>
					<td><%= link_to 'Edit', course_edit_path(course) %></td>
					<td><%= link_to 'Destroy', course_path(course), method: :delete,data: { confirm: 'Are you sure?' }  %></td>

				</tr>

			<% end %>

	</tbody>


</table>

<%= will_paginate @courses %>

<%= render 'shared/hide_semantic_link' %>
<%= render 'shared/hide_structural_link' %>