
<h1>Course for curriculum <%= @curriculum.name %></h1>


<%= render partial: 'show', locals: {course: @courses.at(0)} %>





<div class="paginate">

Course<strong> <%= @page %></strong> of <strong><%=  @total_pages %></strong>
<%= will_paginate @courses %>

</div>

<%= render 'shared/structural_link' %>
<%= render 'shared/semantic_link' %>