<ul class=landmark-menu>
    <li ><%= link_to "Admin Menu:", '', { class: "no-link" } %></li>
    <li ><%= link_to "Courses", course_index_path %></li>
    <li ><%= link_to "Curricula", curriulum_index_path %></li>
    <li ><%= link_to "Services", services_path %></li>
    <li ><%= link_to "Structures", structures_path %></li>
    <li ><%= link_to "Events", events_path %></li>
</ul>