
<table width="700px"><tr>
	<td>
<table class="styled-table" >
	<thead>
		<th>Event by type</th>
	</tr>
	</thead>
	<tbody>
		<% @types.each do |element| %>
		<tr><td><a href="<%= element[:value] %>"><%= element[:name] %> events</a></li>
			</tr>
		<% end %>
	</tbody>


	</table>
	<br>
	</td>
	<td>
<%= form_tag "/events/bydate", :name => "eventByDate" do %>
		<p>Find event by date:</p>
		<p>Date: <input type="text" id="datepicker" name="date"></p>
  		<input type="submit" value="Search">
<% end %>
	</td>
</tr></table>


<h2>All Events</h2>

<table class="styled-table" >
	<thead>
		<th>Events</th>
	</tr>
	</thead>
	<tbody>
<% @events.each do |element| %>
		<tr><td>
			<a href="<%= element[:value] %>"><%= element[:name] %></a></td>

		</tr>
	<% end %>
</tbody>


</table>
<br>
