<%= title "Listing News" %>

<%= link_to "New News", new_course_news_path, {class: "new_button"} %>


<br><br>

<table class="styled-table" >
	<thead>
		<tr>
			<th>Name </th>
			<th>Description</th>
			<th>Time</th>
			
			<th colspan=3></th>


		</tr>

	</thead>
	<tbody>

			<% @news.each do |news| %>
				<tr>
					<td><%= news.name %></td>
					<td><%= news.description.split[0...15].join(' ') %></td>
					<td><%= news.time.strftime("%R")%></td>
					<td><%= link_to 'Show', course_new_path(news.course,news) %></td>
					<td><%= link_to 'Edit', edit_course_new_path(news.course, news) %></td>
					<td><%= link_to 'Destroy', course_new_path(news.course, news), method: :delete,data: { confirm: 'Are you sure?' }  %></td>

				</tr>

			<% end %>

	</tbody>


</table>

<%= will_paginate @news %>


<%= render 'shared/hide_structural_link' %>
<%= render 'shared/semantic_link' %>