<h1>All news for <%= @course_name %></h1>



<table class="styled-table" >
	<thead>
		<th>Name	</th>
		<th>Time</th>
		<th>Description</th>
	</tr>
	</thead>
	<tbody>	
		<% @news.each do |n|%>
			
			<tr>
				<td> <%= link_to n.name, course_new_path(n.course,n) %></td>	
				<td> <%= "#{n.time.strftime('%H:%M')}"  %></td>
				<td class="description"> <%= link_to "#{n.description.split[0...Course.max_word].join(' ')} ...", course_new_path(n.course,n) %></td>


			</tr>
			
		<% end %>
	

	</tbody>


</table>

<%= will_paginate @news %>


<%= render 'shared/hide_structural_link' %>
<%= render 'shared/semantic_link' %>