<%# <%= params.inspect %> 

<%= render 'shared/course_type_form' %>
<%= render 'shared/course_year_form'%>




<h2>All Courses</h2>
<ul>
<% @courses.each do |course| %>
	  <li><%= link_to course.name, course_path(course)  %></li>
<% end %>
</ul>


<%= render "shared/hide_structural_link" %>
<%= render "shared/hide_semantic_link" %>

