<h1><%= @name %>'s photos</h1>


        <div id="galleria">

<% @photos.each do |element| %>
		<a href="<%= element[:value] %>">
                	<img src="<%= element[:value] %>",
		             data-big="h<%= element[:value] %>"
		             data-title="<%= element[:name] %>"
		             data-description="<%= element[:name] %>" >
           	</a>
<% end %>
           
        </div>

    <script>

    // Load the classic theme
    Galleria.loadTheme('/assets/galleria.classic.min.js');

    // Initialize Galleria
    Galleria.run('#galleria');

    </script>
<%= render "shared/structural_link" %>
<%= render "shared/semantic_link" %>
