<%= form_for what, url:{ controller: 'curriculum', action: to_do}, method: to_met do |f| %>
	<p>
		<%= f.label :name %> <br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :description %> <br>
		<%= f.text_area :description %>

	</p>
	<p>
		<%= f.label :work_opportunity %> <br>
		<%= f.text_area :work_opportunity %>
		
	</p>

	<p>
    	<%= f.submit %>
  	</p>

<% end %>