<h1> Edit curriculum <%= @curriculum.name %>


<%= form_for :curriculum, url: curriculum_id_path , method: :put do |f| %>
	<p>
		<%= f.label :name %> <br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :description %> <br>
		<%= f.text_area :description %>

	</p>
	<p>
		<%= f.label :work_opportunity %> <br>
		<%= f.text_area :work_opportunity %>
		
	</p>

	<p>
    	<%= f.submit %>
  	</p>

<% end %>